html, body {
    height: 100%;
    margin: 0;
}

#grid-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    
    align-content: flex-start; 
}
    
.grid-div{
    aspect-ratio: 1/1;
    user-select: none;
    -webkit-user-drag: none;
}

#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
}

